<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

## Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

## Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

## Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

## Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Scikit-Learn

## Create a markdown cell with a table of Data Science tools

| Data Science Tools |
|-------------------|
| MongoDB           |
| Hadoop            |
| Kibana            |

## Create a markdown cell introducing arithmetic expression examples

Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
# Addition of 2000 + 100 + 80
2000 + 100 + 80

2180

In [12]:
# Multiplication of 218 with 10
218 * 10

2180

## Create a code cell to multiply and add numbers

In [14]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

## Create a code cell to convert minutes to hours

In [18]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Insert a markdown cell to list Objectives

**Objectives:**
- List popular languages for Data Science
- List libraries for Data Science
- List open-source tools for Data Science

## Create a markdown cell to indicate the Author's name

## Author 
Shobhit Sharma